<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picture</key>
		<string>926680527.jpg</string>
		<key>text</key>
		<string>妈妈说，女人一定要爱自己的脸，别人打你左脸，你再把右脸伸过去让他打，不然粉底不一样厚。</string>
		<key>icon</key>
		<string>50.jpeg</string>
		<key>name</key>
		<string>笑多了会怀孕</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>奥利奥原味</string>
		<key>icon</key>
		<string>7735164184.jpeg</string>
		<key>picture</key>
		<string>926680527.jpg</string>
		<key>name</key>
		<string>内涵段子</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string>926680527.jpg</string>
		<key>icon</key>
		<string>1.jpeg</string>
		<key>name</key>
		<string>西门抽血</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>号外号外:大师兄下凡不慎，被数人围观</string>
		<key>icon</key>
		<string>1516159990.jpeg</string>
		<key>picture</key>
		<string>3461756566.jpeg</string>
		<key>name</key>
		<string>西门抽筋</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>可以不写标题吗</string>
		<key>icon</key>
		<string>1.jpeg</string>
		<key>picture</key>
		<string>6289891986.jpeg</string>
		<key>name</key>
		<string>西门抽血</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string>926680527.jpg</string>
		<key>icon</key>
		<string>238221586.jpeg</string>
		<key>name</key>
		<string>西门蛋疼</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>妖怪，吃俺老孙一棒！</string>
		<key>icon</key>
		<string>424324.jpeg</string>
		<key>picture</key>
		<string>4934348604.jpeg</string>
		<key>name</key>
		<string>撸你妹</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>picture</key>
		<string>926680527.jpg</string>
		<key>icon</key>
		<string>7735164184.jpeg</string>
		<key>name</key>
		<string>内涵段子</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>完全豁出去的广告</string>
		<key>icon</key>
		<string>50.jpeg</string>
		<key>picture</key>
		<string>603564546.jpeg</string>
		<key>name</key>
		<string>笑多了会怀孕</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
